
@model WebMVC.ENTITIES.ViewModel.ViewModelQTV

@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách người dùng
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Thông tin quản trị viên</div>
            <div class="panel-body">
                <div class="row">
                    @using (Html.BeginForm("Index", "QuanTriVien", FormMethod.Get))
            {
                        <div class="row form-group">
                            <div class="col-lg-12">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.TenDangNhap, new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                    <a class="btn btn-primary" href="/Admin/QuanTriVien/Create">Thêm mới</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @*<legend class="head_title">Kết quả tìm kiếm</legend>*@

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Tên đăng nhập
                                </th>
                                <th>
                                    Tên hiển thị
                                </th>
                                <th>
                                    Mã quyền quản trị
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                        <tbody>
                            @{
                                if (Model.SearchResults != null)
                                {
                                    foreach (var item in Model.SearchResults)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenDangNhap)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenHienThi)
                                            </td>
                                            <td>
                                                @{
                                                    foreach (var a in Model.lstDMQuanTriVien)
                                                    {
                                                        if (a.MaQuyenQuanTri == item.MaQuyenQuanTri)
                                                        {
                                                            @Html.DisplayFor(modelItem => a.TenQuyenQuanTri);
                                                        }
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <div class="pull-right">

                                                    <a href="@Url.Action("Edit", "QuanTriVien", new { MaQuanTriVien = item.MaQuanTriVien })">
                                                        <img src="@Url.Content("/fonts/grid-edit-icon.png")" title="Sửa" />
                                                    </a>
                                                    <a href="@Url.Action("Delete", "QuanTriVien", new { MaQuanTriVien = item.MaQuanTriVien })" delete- delete-modal="">
                                                        <img src="@Url.Content("/fonts/grid-delete-icon1.gif")" title="Hủy quản trị viên" />
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                                        }
                                                    }
                            }
                        </tbody>
</table>
                </div>

                <div class="pagination-sm" style="clear:both; padding: 5px 0;">
                    @Html.PagedListPager(Model.SearchResults, page => Url.Action("Index", new
               {
                   page,
                   Model.MaQuanTriVien,
                   Model.TenHienThi
               }))
                </div>
            </div>
        </div>
    </div>
</div>
